body {
  background: #09183e;
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#142655;
}

#kreni {
  color: white;
  background-color: #547a9c;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  letter-spacing: 2px;
  border-color: #243252;
  margin-top: 12px;
  width: 120px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 3px;
}

#bOdgovor {
  color: white;
  background-color: #547a9c;
  font-family: 'PT Serif', serif;
  font-size: 18px;
  letter-spacing: 2px;
  border-color: #243252;
  margin-top: 12px;
  width: 120px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 3px;
}

#pPitanje {
  font-size: 36px;
}

#informacije {
  font-size: 20px;
}